
<h1>Check the Weather..</h1>
<p> We want you to be as safe as possible! Before enjoying your water sports, visit this website to check the weather! If it's raining or windy please try to avoid the water and stay safe!! </p>
