		<SCRIPT LANGUAGE="javascript">
<!--
function CONFIRM(){if (!confirm
("I HOPE YOU ENJOY DALAL'S WATER SPORTS SITE! Please Leave us a Comment about the Ride of your choice!"))
history.go(-1);return " "}
document.writeln(CONFIRM())
<!-- END -->
</SCRIPT>




<div id="aside">

			<FONT COLOR="yellow"><h2>Stay Connected!</h2></FONT>

		
		<p>
					<a href="https://twitter.com/intent/tweet?screen_name=dalnasrallah" class="twitter-mention-button">Tweet to @support</a>
                   <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </p>
		
		 <p>
		     <div align="center"><a href="http://www.facebook.com/dalal.alnasrallah.7"><img src="http://twitterbuttons.sociableblog.com/images/FB11.png" title="Facebook" width="100" height="40" border="0" /></a><br /><a href="http://twitterbuttons.sociableblog.com/facebook-badges.html"></a></div>
		  
		  <div>
		   <p>
		  <style>.ig-b- { display: inline-block; }
         .ig-b- img { visibility: hidden; }
         .ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
         .ig-b-32 { width: 32px; height: 32px; background: url(//badges.instagram.com/static/images/ig-badge-sprite-32.png) no-repeat 0 0; }
         @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
         .ig-b-32 { background-image: url(//badges.instagram.com/static/images/ig-badge-sprite-32@2x.png); background-size: 60px 178px; } }</style>
          <a href="http://instagram.com/dalnasrallah?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a>
	      </p>
		   <SPAN STYLE="cursor:hand; color:blue; text-decoration:underline" 
            onClick="this.style.behavior='url(#default#homepage)';
            this.setHomePage('localhost:3000');">
             Click Here to Make Dalal's Water Sports Your Home Page
            </SPAN>
		</div>



</p>

</div>

<center>
<h1>Welcome! </h1>
<p> New user? <%= link_to "Sign up by Entering your Details NOW!", new_user_path %></p>  			

				<FONT COLOR="blue"><h2>Fun in the Sun!</h2></FONT>


	
	
				   <div id="cp_widget_483c277b-01e1-4cb3-800f-8c1c88bf63b8">...</div><script type="text/javascript">
                    var cpo = []; cpo["_object"] ="cp_widget_483c277b-01e1-4cb3-800f-8c1c88bf63b8"; cpo["_fid"] = "AoEA7X7Vs--k";
                    var _cpmp = _cpmp || []; _cpmp.push(cpo);
                   (function() { var cp = document.createElement("script"); cp.type = "text/javascript";
                   cp.async = true; cp.src = "//www.cincopa.com/media-platform/runtime/libasync.js";
                   var c = document.getElementsByTagName("script")[0];
                   c.parentNode.insertBefore(cp, c); })(); </script><noscript></noscript>
				</center>
				

			
			<%= yield %>